<section class="rail-section">
	<!-- #################################################### -->
	<div class="subtitle_text">Academic Service</div>

	<!-- SIGGRAPH TPC -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">SIGGRAPH Technical Papers </span><br>
			<span class="authors">
				Committee Member
			</span>
			<span class="conf">(<b>2026, 2027</b>) </span><br>
		</div>
	</div>
	<!-- SIGGRAPH TPC -->

	<!-- SIGGRAPH Posters -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">SIGGRAPH Posters </span><br>

			<span class="authors">
				Juror
			</span>
			<span class="conf">(<b>2025, 2026</b>) </span><br>
		</div>
	</div>
	<!-- SIGGRAPH Posters -->


	<!-- SGI -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">MIT Summer Geometry Initiative </span><br>
			<span class="authors">
				Admission Committee and Mentor
			</span>
			<span class="conf">(<b>2024, 2025, 2026</b>) </span><br>
		</div>
	</div>
	<!-- SGI -->

	<!-- NESG -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">New England Symposium on Graphics </span><br>
			<span class="authors">
				Organizing Committee
			</span>
			<span class="conf">(<b>2025, 2026</b>) </span><br>
		</div>
	</div>
	<!-- NESG -->


	<!-- SGP -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">ACM/Eurographics Symposium on Geometry Processing </span><br>
			<span class="authors">
				Technical Papers Committee
			</span>
			<span class="conf">(<b>2024, 2025</b>) </span><br>
		</div>
	</div>
	<!-- SGP -->

	<!-- HPG -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">High Performance Graphics </span><br>
			<span class="authors">
				International Paper Committee
			</span>
			<span class="conf">(<b>2024</b>) </span><br>
		</div>
	</div>
	<!-- HPG -->


	<!-- GMP -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">International Conference on Geometric Modeling and Processing
			</span><br>
			<span class="authors">
				Technical Program Committee
			</span>
			<span class="conf">(<b>2023, 2024</b>) </span><br>
		</div>
	</div>
	<!-- GMP -->
</section>