<section id="awards" class="rail-section">
	<div class="subtitle_text">Awards</div>
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<a class="thistalk" href="https://sgp26.org/awards/#software-award" target="_blank">SGP 2026 Software
				Award</a><br>
			<span class="authors">Awarded to <b>RXMesh</b></span><br>
			<span class="conf">Recognizes influential open-source software in geometry processing.</span>
		</div>
	</div>
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<a class="thistalk" href="images/ipdps_2024_open_source_contribution_award.png" target="_blank">IPDPS 2024
				Open Source Contribution Award</a><br>
			<span class="authors">Awarded for <i>Optimized GPU Implementation of Grid Refinement in the Lattice
					Boltzmann Method</i></span><br>
			<span class="conf">Recognizes open-source artifacts for parallel and distributed computing.</span>
		</div>
	</div>
</section>