<section id="mentees" class="rail-section">
	<div class="subtitle_text">Mentees</div>
	<div class="pb-1">
		<div class="talk my-2 pl-2"><span class="thistalk">Behrooz Zarebavani</span><br><span class="authors">Ph.D.
				student, University of Toronto &rarr; SIGGRAPH paper</span><br><span class="conf">Project: <i>Fast
					Sparse Matrix Permutation for Mesh-Based Direct Solvers</i></span></div>
	</div>
	<div class="pb-1">
		<div class="talk my-2 pl-2"><span class="thistalk">Anh Truong</span><br><span class="authors">Ph.D. student, MIT
				&rarr; first SIGGRAPH Asia paper</span><br><span class="conf">Project: <i>Parameter-efficient Updates of
					Neural Fields using LoRA</i></span></div>
	</div>
	<div class="pb-1">
		<div class="talk my-2 pl-2"><span class="thistalk">Sachin Kishan</span><br><span class="authors">Summer Geometry
				Initiative fellow &rarr; Ph.D. student, New York University</span><br><span class="conf">Project: <i>GPU
					Geometric Multigrid on Triangle Mesh</i></span></div>
	</div>
	<div class="pb-1">
		<div class="talk my-2 pl-2"><span class="thistalk">Changcheng (Eric) Yuan</span><br><span class="authors">M.Sc.
				student, UC Davis &rarr; Ph.D. student, Texas A&amp;M University</span><br><span class="conf">Project:
				<i>GPU Sparse Matrix Reordering</i></span></div>
	</div>
	<div class="pb-1">
		<div class="talk my-2 pl-2"><span class="thistalk">Brooke Dolny</span><br><span class="authors">Autodesk
				Research intern &rarr; M.Sc. student, University of Waterloo</span><br><span class="conf">Project:
				<i>GPU-accelerated Lattice-Boltzmann Fluid Simulation</i></span></div>
	</div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">Summer Geometry Initiative &middot; 2026</span><br><span class="authors">Gokul Adithya &middot; Yufan Hu</span><br><span class="conf">Project: <i>Inverse Geodesic Distance with Iskra</i></span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">Summer Geometry Initiative &middot; 2025</span><br><span class="authors">Renan Bomtempo &middot; Ogheneobukome Ejaife &middot; Adan Javier Ortiz &middot; Daryna Hrybchuk &middot; Francisco Vigil</span><br><span class="conf">Project: <i>Localized Remeshing for Cloth Simulation</i></span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">Summer Geometry Initiative &middot; 2024</span><br><span class="authors">Aniket Rajnish &middot; Charuka Bandara &middot; Diany Pressato &middot; Kenia Nova &middot; Sachin Kishan</span><br><span class="conf">Project: <i>GPU-accelerated Geometry Processing Applications</i></span></div></div>
</section>
