<section class="rail-section referee-service">
	<div class="subtitle_text">Referee Service</div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">ACM Transactions on Architecture and Code Optimization (2026)</span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">ACM Transactions on Parallel Computing (2026)</span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">SIGGRAPH (2024, 2025)</span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">SIGGRAPH Asia (2024)</span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">Computers &amp; Graphics (2024)</span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">Transactions on Visualization and Computer Graphics (2023)</span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">Eurographics (2023)</span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">Computer Aided Geometric Design (2022)</span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">The SIAM International Meshing Roundtable Workshop (2022, 2023, 2024)</span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">International Meshing Roundtable (2019, 2021)</span></div></div>
	<div class="pb-1"><div class="talk my-2 pl-2"><span class="thistalk">Computer-Aided Design (2019)</span></div></div>
</section>
