<section class="rail-section">
	<!-- #################################################### -->
	<div class="subtitle_text">Talks</div>

	<!-- Geo Opt -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">Accelerating Geometric Optimization on GPUs</span><br>
			<span class="authors">
				Summer Geometry Initiative
			</span>
			<span class="conf">(<b>August 2026</b>) </span><br>
		</div>
	</div>
	<!-- Geo Opt -->

	<!-- Irregular Computation -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">Accelerating Irregular Computation </span><br>
			<span class="authors">
				Queen's University
			</span>
			<span class="conf">(<b>May 2026</b>) </span><br>

			<span class="authors">
				University of Toronto
			</span>
			<span class="conf">(<b>April 2026</b>) </span><br>

			<span class="authors">
				University of Waterloo
			</span>
			<span class="conf">(<b>March 2026</b>) </span><br>

			<span class="authors">
				UC Berkeley
			</span>
			<span class="conf">(<b>February 2026</b>) </span><br>

			<span class="authors">
				University of Victoria
			</span>
			<span class="conf">(<b>November 2025</b>) </span><br>

		</div>
	</div>
	<!-- Irregular Computation -->

	<!-- Dyn Mesh -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">Dynamic Mesh Processing on the GPU </span><br>
			<span class="authors">
				SIGGRAPH
			</span>
			<span class="conf">(<b>August 2025</b>) </span><br>

			<span class="authors">
				<a href="https://sites.gatech.edu/hopc25/" target="_blank">Highlights of
					Parallel Computing
				</a>
			</span>
			<span class="conf">(<b>July 2025</b>) </span><br>

			<span class="authors">
				Brown Visual Computing Seminar
			</span>
			<span class="conf">(<b>October 2024</b>) </span><br>

			<span class="authors">
				Adobe
			</span>
			<span class="conf">(<b>November 2023</b>)</span><br>

		</div>
	</div>
	<!-- Dyn Mesh -->

	<!-- RXMesh GTC -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">RXMesh: A High-performance Mesh Data Structure and
				Programming Model on the GPU</span><br>
			<span class="authors">
				NVIDIA GTC
			</span>
			<span class="conf">(<b>March 2022</b>)</span><br>

		</div>
	</div>
	<!-- RXMesh GTC -->

	<!-- Neon GTC -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">Neon: A Multi-GPU Programming Model for Grid-based
				Computations</span><br>
			<span class="authors">
				NVIDIA GTC
			</span>
			<span class="conf">(<b>March 2022</b>)</span><br>

		</div>
	</div>
	<!-- Neon GTC -->

	<!-- RXMesh SIGGRAPH -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">RXMesh: A GPU Mesh Data Structure</span><br>
			<span class="authors">
				SIGGRAPH
			</span>
			<span class="conf">(<b>August 2021</b>)</span><br>

		</div>
	</div>
	<!-- RXMesh SIGGRAPH -->


	<!-- Mesh Imp SGP -->
	<div class="pb-1">
		<div class="talk my-2 pl-2">
			<span class="thistalk">A Constrained Resampling Strategy for Mesh
				Improvement</span><br>
			<span class="authors">
				Symposium on Geometry Processing
			</span>
			<span class="conf">(<b>July 2017</b> - London, UK)</span><br>

		</div>
	</div>
	<!-- Mesh Imp SGP -->
</section>